<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= myTitle %> </title>
    <link rel="Stylesheet" href="/css/style.css">
  </head>
  <body class="<%= myBodyClass %>"
  <body>
<header>
    <h1> <%= myTitle %> </h1>

    <nav>
      <a href="/"> Home </a>
      <br>
      <a href="/books"> Class Books </a>
      <br>
      <a href="/accomplishments"> Class Accomplishments </a>
    </nav>
  </header>

  <%- body %>

  <footer>
    <p> Made in Miami 🌴 305 </p>
  </footer>


<script src="/js/front.js"></script>
  </body>
</html>
